# requirements.txt (versão para ambiente limpo)

# Frameworks de IA e dependências principais
# A imagem já tem torch, mas especificamos para garantir compatibilidade
torch
torchaudio
torchvision
onnxruntime-gpu
onnx
pytorch_lightning

# Bibliotecas para processamento de áudio e dados
librosa
numba
numpy
scipy
audioread
pydub
pyrubberband

# Utilitários e outras dependências
ffmpeg-python
requests
runpod
PyYAML
einops
future
julius
kthread
llvmlite
matchering
ml_collections
natsort
omegaconf
opencv-python
Pillow
psutil
soundstretch
urllib3
wget
samplerate
diffq
onnx2pytorch
SoundFile
